{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
{% if user.is_authenticated %}
<body class="form-signin w-100 m-auto">
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal"style="color:blue">新規投稿作成</h1>

    <div class="form-floating">
      <p>タイトル<input type="text" name="title" required></p>
    </div>
    <div>
      <p>内容<input type="text" name="content" required></p>
    </div>
    <p><input type="file" name="sns_image" required></p>
    <input type="hidden" name="author" value="{{ user.username }}">
    <button class="btn btn-primary w-100 py-2" type="submit">投稿</button>
  </form>
</body>
{% else %}
<h3 style="color:red">ログインしてください</h3>
<a href="{% url 'login' %}" class="btn btn-primary" role="button" aria-disabled="true">ログイン</a>
{% endif %}
{% endblock content %}
